/* Universal Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  --primary: #240e1f;
  --secondary: #f0b052;
  --accent: #e96932;
}

body {
  width: 100%;
}

button {
  padding-inline: 35px;
  padding-block: 14px;
  border-radius: 14px;
  outline: none;
  border: none;
}

.card {
  border-radius: 45px;
  padding: 50px;
  width: 30%;
  height: 200px;
}

/* Header Styles */

header {
  background-color: var(--secondary);
  padding-block: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  color: var(--primary);
}

header h1 i {
  padding-right: 0.5rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  color: var(--primary);
  padding-inline: 1rem;
}

/* Hero Section */

#hero {
  height: 85vh;
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--accent);
  padding-inline: 2rem;
}

#hero .hero-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}

#hero .hero-container h2 {
  font-size: 5rem;
}

#hero .hero-container p {
  font-size: 1.5rem;
}

#hero .hero-container div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#hero .hero-container div button {
  width: 40%;
  background-color: var(--secondary);
  box-shadow: 0px 4px 0px 0px var(--accent);
  font-size: 1.25rem;
}

#hero img {
  height: 50%;
}

/* Feature Section */

#features {
  height: 35vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#features .card {
  background-color: var(--primary);
  box-shadow: 0px 6px 0px 0px var(--accent);
}

#features .card i {
  padding-bottom: 0.5rem;
  font-size: 1.75rem;
  color: var(--accent);
}

#features .card h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--secondary);
}

#features .card p {
  font-size: 1rem;
  color: var(--secondary);
}

/* Call to Action Section */

#cta {
  background-color: var(--primary);
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta .cta-container {
  background: linear-gradient(96deg, var(--accent) 0%, var(--secondary));
  box-shadow: 0px 4px 0px 0px var(--accent);
  border-radius: 45px;
  width: fit-content;
  height: 60%;
  padding-inline: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary);
}

#cta .cta-container button {
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0px 4px 0px 0px var(--accent);
}

/* Footer Styles */

footer {
  padding-block: 4rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary);
}

footer .footer-container {
  color: var(--primary);
  height: fit-content;
}

footer .footer-container h4 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

footer .footer-container i {
  padding-right: 0.5rem;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container ul li {
  padding-bottom: 0.75rem;
}
