@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #240e1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 2px;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#hero {
  background-color: rgb(36, 14, 31);
  background-image: radial-gradient(
      circle at 70% 60%,
      rgba(36, 14, 31, 0.2) 00%,
      rgba(36, 14, 31, 0.6) 10%,
      rgba(36, 14, 31, 0.87) 40%
    ),
    url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23f0b052' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-blend-mode: normal;
}

.outer {
  background: linear-gradient(
    145deg,
    rgba(0, 17, 34, 0.733),
    rgba(0, 17, 34, 0.4),
    rgba(0, 17, 34, 0.733)
  );
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  background-origin: padding-box;
  border: 1px solid rgba(255, 170, 170, 0.733);
  border-radius: 16px;
  box-shadow:
    rgba(255, 255, 255, 0.15) 0px 1px 1px 0px inset,
    rgba(93, 50, 50, 0.3) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(178, 161, 103, 0.3) -10px 10px 60px -10px;
  box-sizing: border-box;
  color: rgb(51, 51, 56);
  font-family:
    "Inter var",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Ubuntu,
    Roboto,
    Cantarell,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: "cv05", "ss01", "ss03", "zero";
  font-size: 16px;
  line-height: 24px;
  max-width: 1200px;
  padding: 9.6px;
  text-align: center;
  margin: 0 auto;
}

.inner {
  align-items: flex-start;
  background: repeating-conic-gradient(
      rgba(0, 0, 0, 0.067) 0deg,
      rgba(0, 0, 0, 0.067) 0.0001%,
      rgba(0, 0, 0, 0) 0deg,
      rgba(0, 0, 0, 0) 0.0002%
    ),
    rgba(0, 17, 34, 0.533);
  background-clip: border-box;
  background-origin: padding-box;
  border-radius: 9.6px;
  box-shadow:
    rgba(82, 0, 0, 0.6) 0px 1px 1px 0px inset,
    rgba(93, 50, 59, 0.7) 0px 5px 10px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  font-family:
    "Inter var",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Ubuntu,
    Roboto,
    Cantarell,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: "cv05", "ss01", "ss03", "zero";
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  padding: 24px 16px;
  /* position: relative; */
  row-gap: 24px;
  text-align: left;
}
